.recipeModal-container{
    width: 1000px;
    height: 500px;
}

.recipeModal-container .modal-up{
    width: 100%;
    height: 85%;
    background-color: #ffeacc;
    display: flex;
    flex-direction: row;
}

.recipeModal-container .modal-up .modal-images{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.recipeModal-container .modal-up .modal-images .left-arrow{
    width: 5%;
    height: 100%;
    display: flex;
}

.recipeModal-container .modal-up .modal-images .left-arrow div{
    font-size: 2rem;
    margin: auto;
}

.recipeModal-container .modal-up .modal-images .right-arrow{
    width: 5%;
    height: 100%;
    display: flex;
}

.recipeModal-container .modal-up .modal-images .right-arrow div{
    font-size: 2rem;
    margin: auto;
}

.recipeModal-container .modal-up .modal-images .image-container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-items: center;
}

.recipeModal-container .modal-up .modal-images .image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-size: cover;
    margin: auto;
}

.recipeModal-container .modal-up .modal-ingredients .ingredients-title{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.recipeModal-container .modal-up .modal-ingredients ul{
    font-size: 1.07rem;
    margin: 0;
}

.recipeModal-container .modal-down{
    width: 100%;
    height: 15%;
    background-color: #ffeacc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
}

.recipeModal-container .modal-down div{
    width: 200px;
    height: 50%;
    border-radius: 10px;
    padding: 10px;
    background-color: #8f6ec9;
}

@media only screen and (max-width: 550px){
    .recipeModal-container{
        width: 90%;
        height: 90%;
        margin: auto;
        padding: 0;
    }
    
    .recipeModal-container .modal-up{
        flex-direction: column;
        height: 65%;
    }

    .recipeModal-container .modal-up .modal-images{
        width: 90%;
        padding: 5%;
        margin: 0;
    }
    
    .recipeModal-container .modal-up .modal-images .image-container{
        width: 80%;
        padding: 0;
        margin: 0;
    }

    .recipeModal-container .modal-up .modal-images .left-arrow{
        width: 10%;
    }

    .recipeModal-container .modal-up .modal-images .right-arrow{
        width: 10%;
    }

    .recipeModal-container .modal-up .modal-ingredients .ingredients-title{
        font-size: 1.9rem;
    }

    .recipeModal-container .modal-up .modal-ingredients ul{
        font-size: 1rem;
    }

    .recipeModal-container .modal-down{
        display: flex;
        flex-wrap: wrap;
        height: 20%;
        padding-top: 5%;
    }

    .recipeModal-container .modal-down div{
        width: 35%;
        height: 50px;
    }
}