.signmain .sign-up{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 225px;
    margin: 25px 50px 50px 50px;
    background-color: violet;
    padding: 10px;
}

.signmain .sign-up button{
    margin-top: 25px;
}
.signmain .sign-up .labell{
    margin-bottom: 10px;
}